@import url("https://fonts.gstatic.com");
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  /* background-color: black; */
  /* color: black; */
  font-family: 'Merriweather', serif;
}
.navbar{
  background: #fff !important;
}
.navbar-brand{
  font-size:1.9rem !important;
  color:#565387;
}
.navbar a{
  font-size:1.3rem;
  text-transform: capitalize;
}
.navbar a:hover{
  color:#3498db !important;
}
.menu_active{
  font-weight: bold !important;
  border-bottom: 1px solid #565387 !important;
}
p{
  font-size: 1.3rem;
}
.brand-name{
  text-transform: capitalize;
  color:#3498db;
}
#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
.header-img{
  order:1;
  height:fit-content !important;
  width:39rem !important; 
  left: 13rem !important;
  margin-top:2rem !important; 
  /* margin-left:0rem !important; */
}
/* h1{
  width:25rem;
} */
/* .LEFT{
  margin-top:4rem !important;
} */
